---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

// Get all blog posts from the posts folder.
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

// Find all unique tags used across blog posts.
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];

const pageTitle = 'Blog Posts';
---

<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<p>This is where I will post about my journey.</p>
	<p>Latest Posts</p>
	<ul>
		{allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}  <!-- Iterate through the array of objects, create a link which points to the posts URL and display the title. -->
	</ul>
	<p>Looking for something specific?</p>
	<div>
        {tags.map((tag) => (
            <p><a href={`/tags/${tag}`}>#{tag}</a></p>
        ))}
    </div>
</BaseLayout>