---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

// Get all blog posts from the blog folder.
const allPosts = await getCollection("blog");

// Find all unique tags used across blog posts.
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

const pageTitle = 'Blog Posts';
---

<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<p>This is where I will post about my journey.</p>
	<p>Latest Posts</p>
	<ul>
		{allPosts.map((post) => <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />)}  <!-- Iterate through the array of objects, create a link which points to the posts URL and display the title. -->
	</ul>
	<p>Looking for something specific?</p>
	<div>
        {tags.map((tag) => (
            <p><a href={`/tags/${tag}`}>#{tag}</a></p>
        ))}
    </div>
</BaseLayout>